/* Header Container */

.header{
    position: fixed;
    left: 200px;
    top: 0;
    width: calc(100vw - 200px);
    height: 85px;
    border-bottom: 2px solid #FF0;
    background-color: #000;
}

/* Title */

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: #FF0;
    text-shadow: #444 1px 1px 5px;
}